@model IEnumerable<Library.Web.Models.AuthorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Author Information List.</h3>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorBio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorBio)
            </td>
            <td>
                <a asp-controller="Author" asp-action="Edit" asp-route-id="@item.AuthorID" class="btn btn-sm btn-success">Edit</a> | 
                <a asp-controller="Author" asp-action="Delete" asp-route-id="@item.AuthorID" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
